# dist file for InspectionBar
dist /extensions/AntTweakBar/AntTweakBar.dist http://openengine.dk/code/extensions/AntTweakBar/AntTweakBar.dist
dist /extensions/Inspection/Inspection.dist http://openengine.dk/code/extensions/Inspection/Inspection.dist

git      /extensions/InspectionBar            git://github.com/oe-legacy/extensions-InspectionBar.git
git-dev  /extensions/InspectionBar            git@github.com:oe-legacy/extensions-InspectionBar.git
